.wrapper {
    position: relative;
    display: flex;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 5px;
    padding: 20px 20px;
}

.icon {
    * {
        width: 100%;
        height: 100%;
    }
}

.delete-icon {
    width: 15px;
    position: absolute;
    top: 18px;
    right: 20px;
    color: rgb(242, 38, 38);

    &:hover {
        color: red;
        cursor: pointer;
        transform: scale(1.1);
    }
}

// DISPLAY
.display-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.user-field,
.app-field {
    display: flex;
    align-items: center;
}

// App
.app-field {
}

.app-title {
    margin-left: 28px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.app-icon {
    width: 40px;
    margin-left: 6px;
}

// User
.avatar {
    margin-right: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 42px;
}

.user {
    font-size: 1.5rem;
    line-height: 22px;
    font-weight: 600;
}

.nickname {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgb(22, 24, 35);
    opacity: 50%;
    font-weight: 400;
}

// Data

.data-field {
    padding-top: 10px;
    width: 50%;
}

.data-field > * {
    display: flex;
    flex-direction: column;
}

.data-field > * > h5 {
    color: gray;
}

.input {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.5rem;

    input {
        width: 90%;
    }

    .icon {
        position: absolute;
        width: 18px;
        height: auto;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);

        &:hover {
            cursor: pointer;
            color: #6edff6;
            transform: translateY(-50%) scale(1.05);
        }
    }
}

.input.active {
    box-shadow: 0 0 5px 1px #37b7f2;
}
