.wrapper {
    width: 100%;
    height: 42px;
    position: relative;
}

.back-btn {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 24px;

    &:hover {
        cursor: pointer;
    }
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
