.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    margin-right: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 42px;
}

.username {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
}

.nickname {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}
